body {
  background-color: black;
  user-select: none;
  cursor: default;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.App {
  /*position: relative;*/
  display: block;
  /*border: 1px solid red;*/

}

.App-header {
  /*border: 1px solid red;*/

  background: rgba(25, 25, 25, .6);
  height: 110px;
  padding: 10px 0;
  color: white;
  /*position: fixed;*/
  width: 100%;
  text-align: center;
  z-index: 3;
}

.App-header img {
  max-width: 90%;
}

.App-header p {
  margin: 10px 0;
  padding: 0;
}

.App-intro {
  font-size: large;
}

.questContainer {
  margin-top: 20px;
  /*border: 1px solid red;*/
}

.icon {
  transition: 2s color;
}

.questIconContainer {
  transition: 2s box-shadow;
}

.btn {
  padding: 5px 10px;
  font-size: 20px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  color: white;
  background-color: #1659b7;
  border: 1px solid #1865d0;
  border-radius: 2px;
  transition: 1s all;
}

.btn:hover {
  background-color: #114691;
}

.champDetailBackground {
  z-index: -1;
  transition: 1s all;
  position: fixed;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
}

@media (max-width: 990px && min-width: 601px) {

}




@media (max-width: 600px) {

  .App-header {
    position: relative;
    /*margin: 0;*/
    /*border: 1px solid red;*/
  }

  .App-header p {
    font-size: 1em;
  }

 

  .champDetailBackground {
    z-index: -1;
    transition: 1s all;
    position: fixed;
    top: 0;
    right: -200px;
    width: auto;
    height: auto;
    /*height: auto;*/
    max-width: auto;
    max-height: 100%;
  }

}
