body {
  background-color: black;
  user-select: none;
  cursor: default;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.App {
  /*position: relative;*/
  display: block;
  /*border: 1px solid red;*/

}

.App-header {
  /*border: 1px solid red;*/

  background: rgba(25, 25, 25, .6);
  height: 110px;
  padding: 10px 0;
  color: white;
  /*position: fixed;*/
  width: 100%;
  text-align: center;
  z-index: 3;
}

.App-header img {
  max-width: 90%;
}

.App-header p {
  margin: 10px 0;
  padding: 0;
}

.App-intro {
  font-size: large;
}

.questContainer {
  margin-top: 20px;
  /*border: 1px solid red;*/

}

.btn {
  padding: 5px 10px;
  font-size: 20px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  color: white;
  background-color: #1659b7;
  border: 1px solid #1865d0;
  border-radius: 2px;
  transition: 1s all;
}

.btn:hover {
  background-color: #114691;
}

.icon {
  /*border: 1px solid red;*/
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
  transition: 2s margin-top, 1s opacity;
}

.icon > img {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: all .25s;
  opacity: .8;
}

.icon > img:hover {
  opacity: 1;
  cursor: pointer;
}

.icon > p {
  color: white;
  margin-top: 100px;
}

.icon:hover {
  background-image: linear-gradient(to right, #c2b189 30px, transparent 30px), linear-gradient(to right, #c2b189 30px, transparent 30px), linear-gradient(to bottom, #c2b189 30px, transparent 30px), linear-gradient(to bottom, #c2b189 30px, transparent 30px);
  background-size: 100% 3px, 100% 3px, 3px 100%, 3px 100%;
  background-position: -13px 0%, -13px 100%, 0% -13px, 100% -13px;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
}

.champDetailBackground {
  z-index: -1;
  transition: 1s all;
  position: fixed;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
}

.star:hover {
  border: none !important;
}


@media (max-width: 990px && min-width: 601px) {

}




@media (max-width: 600px) {

  .App-header {
    position: relative;
    /*margin: 0;*/
    /*border: 1px solid red;*/
  }

  .App-header p {
    font-size: 1em;
  }

 

  .champDetailBackground {
    z-index: -1;
    transition: 1s all;
    position: fixed;
    top: 0;
    right: -200px;
    width: auto;
    height: auto;
    /*height: auto;*/
    max-width: auto;
    max-height: 100%;
  }

  .icon {
    width: 60px;
    height: 60px;
    position: relative;
    margin-bottom: 20px;
  }

  .icon > img {
    width: 56px;
    height: 56px;
    top: 2px;
    left: 2px;
    /*border: 1px solid pink;*/
    position: absolute;
    opacity: 1;
  }

  .icon > p {
    /*border: 1px solid red;*/
    position: absolute;
    top: -40px;
    left: 0px;
    /*margin-top: 62px;*/
    /*height: 50px;*/
    font-size: .7em;
    width: 100%;
    text-align: center;
  }

  .icon:hover {
    background-image: linear-gradient(to right, #c2b189 10px, transparent 10px), linear-gradient(to right, #c2b189 10px, transparent 10px), linear-gradient(to bottom, #c2b189 10px, transparent 10px), linear-gradient(to bottom, #c2b189 10px, transparent 10px);
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    background-position: -5px 0%, -5px 100%, 0% -5px, 100% -5px;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  }
}
